/*@media(min-width: 1000px) {*/
/*    canvas {*/
/*        width: 70%;*/
/*        height: 70%;*/
/*        max-width: 800px;*/
/*    }*/
/*}*/

@media(max-width: 850px) {
    #boardContainer {
        width: 100%;
    }
}

@media(min-width: 851px) {
    #boardContainer {
        width: 70%;
    }
}

#boardContainer {

}



canvas {
    justify-content: center;
    background-color: #edb87b;
    box-shadow: 0 1px 1px rgba(0,0,0,0.25),
    0 2px 2px rgba(0,0,0,0.20),
    0 4px 4px rgba(0,0,0,0.15),
    0 8px 8px rgba(0,0,0,0.10),
    0 16px 16px rgba(0,0,0,0.05);
    animation: fade-in 0.2s ease-in;
}

select {
    font-size: 20px;
    padding: 15px;
    max-height: 3em;
    align-items: center;
    justify-content: center;
}

@keyframes fade-in {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}